@model ReadPostViewModel
@{
    ViewData["Title"] = Model.Title;
}
@section Links
{
    <link href="~/lib/ckeditor/css/ckeditor.css" rel="stylesheet" asp-append-version="true" />
}

<div class="bg-white border border-primary rounded p-3">
    <h2>@Model.Title</h2>
    <div class="row p-3">
        <a asp-controller="Account" asp-action="Profile"
           asp-route-username="@Model.AuthorUserName">
            <img src="~/images/users/@(Model.AuthorAvatar ?? "default.jpg")"
                 title="@Model.AuthorUserName's avatar"
                 class="rounded-circle" style="width: 3rem"
                 asp-append-version="true" />
        </a>
        <div class="mx-2">
            <div>
                نویسنده : <a asp-controller="Account" asp-action="Profile"
                             asp-route-username="@Model.AuthorUserName"
                             class="text-dark">
                    @Model.AuthorFriendlyName
                </a>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
                @Model.CreatedDate.ToShortDateString()
            </div>
        </div>
        <span class="mr-auto">تعداد بازدید: @Model.Views</span>
    </div>
    <p>@Model.Description</p>
    <div class="ck-content" dir="rtl">@Model.Body</div>
    <div>
        <span>برچسب ها:</span>
        <partial name="_LabelList" model="@Model.Labels" />
    </div>
</div>

<div class="border border-primary rounded mt-3 bg-white p-3">
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="../Comment/_CreateComment"
                 model="new CreateCommentViewModel { PostId = Model.PostId }" />
    }
    else
    {
        <div class="text-center">
            <h6>برای ثبت دیدگاه ابتدا باید وارد حساب کاربری شوید.</h6>
            <div class="btn-group-sm mt-3">
                <a class="btn btn-outline-primary" asp-controller="Account"
                   asp-action="Login" asp-route-returnUrl="@Context.Request.Path">ورود</a>
                <a class="btn btn-outline-primary" asp-controller="Account"
                   asp-action="Register">ثبت نام</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#create-comment-form").submit(function (event) {
            event.preventDefault();

            var postId = $("#PostId").val();
            var content = $("#Content").val();

            $.ajax({
                url: '@Url.Action("CreateComment", "Comment")',
                type: 'POST',
                data: { postId, content },
                success: function () {
                    alert("دیدگاه شما با موفقیت ثبت شد.")
                },
                error: function () {
                    alert("مشکلی بوجود آمد، مجدد تلاش کنید.")
                }
            })
        });
    </script>
}