@model IEnumerable<ReadCommentViewModel>

<ul class="list-unstyled">
    @foreach (var comment in Model)
    {
        <li>
            <div class="wrap card mt-2 @(comment.ParentId is null ? "border-primary" : "mr-4")">
                <div class="card-body pt-1">
                    @if (comment.ParentId.HasValue)
                    {
                        <p class="text-muted mb-2">در پاسخ به @comment.ParentFriendlyName</p>
                    }
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/users/@(comment.AvatarName ?? "default.jpg")" class="rounded-circle" style="width:2rem" asp-append-version="true"/>
                            <a class="text-dark" asp-controller="Account"
                               asp-action="Profile" asp-route-username="@comment.UserName">
                                <h5 class="card-title d-inline">@comment.FriendlyName</h5>
                            </a>
                        </div>
                        <div class="mr-auto pl-3">
                            <a href="#comment-@comment.Id" name="comment-@comment.Id" title="اشتراک گذاری کامنت" class="text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 mt-1 text-muted">@comment.CreatedDate</h6>
                    <p class="card-text">@comment.Content</p>
                    <button type="button" class="btn btn-primary modalReplyBtn" data-comment-id="@comment.Id">پاسخ</button>
                </div>
            </div>
            <partial name="../Comment/_Comments" model="comment.Children" />
        </li>
    }
</ul>