@model IEnumerable<ReadCommentViewModel>

<ul class="list-unstyled">
    @foreach (var comment in Model)
    {
        <li>
            <div class="wrap card mt-2 @(comment.ParentId is null ? "border-primary" : "mr-4")">
                <div class="card-body pt-1">
                    @if (comment.ParentId.HasValue)
                    {
                        <p class="text-muted mb-2">در پاسخ به @comment.ParentFriendlyName</p>
                    }
                    <div class="row">
                        <div class="col-auto">
                            <img src="~/images/users/@(comment.AvatarName ?? "default.jpg")" class="rounded-circle" style="width:2rem" />
                            <a class="text-dark" asp-controller="Account"
                               asp-action="Profile" asp-route-username="@comment.UserName">
                                <h5 class="card-title d-inline">@comment.FriendlyName</h5>
                            </a>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 mt-1 text-muted">@comment.CreatedDate.ToShortDateString()</h6>
                    <p class="card-text">@comment.Content</p>
                    <button type="button" class="btn btn-primary modalReplyBtn" data-comment-id="@comment.Id">پاسخ</button>
                </div>
            </div>
            <partial name="../Comment/_Comments" model="comment.Children" />
        </li>
    }
</ul>